.navbar-brand {
  margin-right: auto;
}

li {
  list-style-type: none;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

/* header */
.dropdown-toggle {
  color: inherit;
}

#forecastSubmit, #user-location-btn {
  margin-top: 6%;
  margin-right: 10px;
}

.week-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.week-icon {
  height: 100px !important;
  width: 100px !important;
  margin-left: auto;
  margin-right: auto;
}

.space-top {
  margin-top: 20px
}

.space-bottom {
  margin-bottom: 20px;
}

.card-body {
  padding: 0;
}

.card {
  border: none;
  background-color: inherit;
}

.dark-theme, .dark-theme:hover, .dark-theme:focus {
  background-color: rgb(30, 30, 30) !important;
  color: #F3F3F3 !important;
}

.unit-menu, .unit-menu:hover, .unit-menu:focus,
.theme-menu, .theme-menu:hover, .theme-menu:focus {
  background-color: inherit;
  color: inherit;
}
